
<ai-title
  mat-dialog-title
  cdkDrag
  cdkDragHandle
  cdkDragRootElement=".cdk-overlay-pane"
  class="title-dialog--drag"
>
  Seleccione el tipo de baja
</ai-title>

<div mat-dialog-content>
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selectTbaja">
    <mat-radio-button class="example-radio-button" *ngFor="let tbaja of tbajas" [value]="tbaja">
      {{tbaja}}
    </mat-radio-button>
  </mat-radio-group>  
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button type="button" class="btn-width" (click)="cancel()">
    Cancelar
  </button>
  <button
    (click)="accept(selectTbaja)"
    class="left-space btn-width"
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="!selectTbaja"
  >
    Aceptar
  </button>
</div>
