:host {
  display: block;

  &:hover {
    & > .ai-menu-button > .ai-menu-button__pin-icon {
      display: block !important;
    }
  }
}

.ai-menu-button {
  display: flex;
  width: 100%;
  background-color: transparent;
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  border-width: 0;
  text-transform: none;
  margin: 0 0 0.45rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-variant-ligatures: none;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &:focus {
    &:not(:focus-visible) {
      outline: 0;
    }
  }

  .ai-menu-button__led-activity {
    width: 3px;
    border-radius: 3px;
    margin-right: 1px;
    transition: all 0.4s ease;
    left: 0.25rem;
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
  }

  .ai-menu-button__spacer-level {
    margin-left: 0.85rem;
  }

  .ai-menu-button__icon {
    height: 20px;
    margin-right: 0.5rem;
    min-width: 20px;
  }

  .ai-menu-button__label {
    white-space: nowrap;
  }
}

.panel-expanded {
  // overflow: unset;
}

.pinned-empty {
  text-align: center;
  padding: 0.25rem 0;
  font-size: 12px;
}

.ai-menu-button__pin-icon {
  display: none;
  height: 20px;
  min-width: 20px;
  position: absolute;
  right: 0.25rem;
  border-radius: 0.25rem;
  transition: background-color 100ms linear,
  border-color 100ms linear,
  color 100ms linear,
  box-shadow 100ms linear;

  mat-icon{
    transition: transform 255ms ease-in-out;
  }
}
